@keyframes heart-fill {
  0% {
    transform: scaleY(0);
    opacity: 0;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
  20% {
    transform: scaleY(0.2);
    opacity: 0.1;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
  40% {
    transform: scaleY(0.4);
    opacity: 0.2;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
  60% {
    transform: scaleY(0.6);
    opacity: 0.4;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
  80% {
    transform: scaleY(0.8);
    opacity: 0.6;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
}
@keyframes menu-arrival {
  0% {
    transform: translateY(9999px);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

section {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  width: 50%;
  height: 45px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  color: white;
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  width: 55%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DCDCDC;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0px 11px 8px -10px darkgray;
}
.form i {
  display: flex;
  justify-content: center;
}
.form__location {
  width: 10%;
}
.form__search {
  width: 40%;
  background-color: #DCDCDC;
  font-weight: bolder;
  font-size: 15px;
  border: none;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: #303030;
  color: white;
  padding: 15px;
  margin-top: 80px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: bolder;
}
.footer__list a {
  color: white;
}
.footer__list__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__list__row i {
  padding-right: 15px;
}

.fa-utensils {
  width: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.intro h2 {
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  margin-bottom: 0;
}
.intro p {
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.operation {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 80px;
}
.operation__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  column-gap: 20px;
  box-shadow: 7px 7px 10px -1px #DCDCDC, -7px 0 10px 1px #DCDCDC;
  border-radius: 20px;
}
.operation__card__number {
  width: 6%;
  background-color: #9356DC;
  height: 17px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: x-small;
  padding-top: 4px;
  padding-left: 1px;
}
.operation__card__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 4px;
}
.operation__card__content i {
  width: 21px;
}
.operation__card__content__grey {
  color: gray;
}
.operation__card__content__purple {
  color: #9356DC;
}
.operation__card__content p {
  width: 100%;
  margin: 0;
  padding-left: 25px;
  font-weight: bolder;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 80px;
}
.restaurant-list h2 {
  margin-bottom: 0;
}

.restaurant {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  box-shadow: 7px 7px 10px -1px #DCDCDC, -7px 0 10px 1px #DCDCDC;
  border-radius: 20px;
  padding-bottom: 20px;
}
.restaurant__card__container {
  height: 170px;
  position: relative;
  text-align: center;
}
.restaurant__card__container div {
  position: absolute;
  top: 13px;
  right: 16px;
  background-color: #99E2D0;
  width: 25%;
  height: 25px;
  padding-top: 7px;
  color: #217460;
}
.restaurant__card__container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__card__position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}
.restaurant__card__position__text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.restaurant__card__position__text h3 {
  margin-bottom: 5px;
}
.restaurant__card__position__text p {
  margin: 0;
}
.restaurant__card__position__like {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant__card__position__like path {
  fill: transparent;
  stroke-width: 5px;
  stroke: #000;
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: 0%;
}
.restaurant__card__position__like:hover path {
  animation: heart-fill 500ms linear both;
}
.restaurant__card__position__like:active path {
  animation: heart-fill 500ms linear both;
}

.background-pic {
  height: 250px;
}
.background-pic img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.menu {
  width: 92%;
  padding-right: 4%;
  padding-left: 4%;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
}
.menu__title h1 {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 28px;
}
.menu__title__like {
  width: 20%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__title__like path {
  fill: transparent;
  stroke-width: 5px;
  stroke: #000;
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: 0%;
}
.menu__title__like:hover path {
  animation: heart-fill 500ms linear both;
  cursor: pointer;
}
.menu__title__like:active path {
  animation: heart-fill 500ms linear both;
}
.menu__name__starter {
  width: 20%;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__name__dish {
  width: 13%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__name__dessert {
  width: 22%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__name__course {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 40px;
}
.menu__name__course__card {
  box-shadow: 7px 7px 10px -1px #DCDCDC, -7px 0 10px 1px #DCDCDC;
  border-radius: 20px;
  /*&__box {
      width: 20%;
      height: 81px;
      background-color: $color-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: $card-radius;
      border-bottom-right-radius: $card-radius;
      margin-top: -32px;
      margin-right: -42px;
      margin-left: -40px;
  }

  & i {
      width: 50%;
      height: 50%;
  }*/
}
.menu__name__course__card h5 {
  margin: 0;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__name__course__card__seasoning {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.menu__name__course__card__seasoning p {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 8px;
}
.menu__name__course__card__seasoning__price span {
  font-weight: 600;
  margin-right: 10px;
  margin-top: 18px;
  margin-left: 30px;
  padding-right: 8px;
  font-size: 14px;
}

.fa-circle-check {
  color: white;
}

.btn-align {
  display: flex;
  justify-content: center;
}

.one {
  animation: menu-arrival 500ms 200ms both cubic-bezier(0.99, 0, 0, 1);
}

.two {
  animation: menu-arrival 500ms 400ms both cubic-bezier(0.99, 0, 0, 1);
}

.three {
  animation: menu-arrival 500ms 600ms both cubic-bezier(0.99, 0, 0, 1);
}

.four {
  animation: menu-arrival 500ms 800ms both cubic-bezier(0.99, 0, 0, 1);
}

.five {
  animation: menu-arrival 500ms 1000ms both cubic-bezier(0.99, 0, 0, 1);
}

.six {
  animation: menu-arrival 500ms 1200ms both cubic-bezier(0.99, 0, 0, 1);
}

.seven {
  animation: menu-arrival 500ms 1400ms both cubic-bezier(0.99, 0, 0, 1);
}

.eight {
  animation: menu-arrival 500ms 1600ms both cubic-bezier(0.99, 0, 0, 1);
}

.nine {
  animation: menu-arrival 500ms 1800ms both cubic-bezier(0.99, 0, 0, 1);
}

.ten {
  animation: menu-arrival 500ms 2000ms both cubic-bezier(0.99, 0, 0, 1);
}

.eleven {
  animation: menu-arrival 500ms 2200ms both cubic-bezier(0.99, 0, 0, 1);
}

.twelve {
  animation: menu-arrival 500ms 2400ms both cubic-bezier(0.99, 0, 0, 1);
}

.thirteen {
  animation: menu-arrival 500ms 2600ms both cubic-bezier(0.99, 0, 0, 1);
}

/*# sourceMappingURL=style.css.map */
