@keyframes heart-fill {
  0% {
    transform: scaleY(0);
    opacity: 0;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  99% {
    transform: rotate(360deg) translateX(0px);
  }
  100% {
    transform: rotate(360deg) translateX(9999px);
    opacity: 0;
  }
}
@keyframes icon {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg);
  }
}
@keyframes page-arrival {
  0% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu-arrival {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes box-translate {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(1px);
  }
}
@keyframes price-translate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75px);
  }
}
@keyframes icon-rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

section {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  width: 50%;
  height: 45px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 25%;
  }
}
.btn:hover {
  background: linear-gradient(356deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0px 2px 10px 0px #525252;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #FF79DA;
  animation: spin 2000ms linear both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader svg {
  animation: icon 2000ms linear both;
  width: 40%;
  height: 40%;
}
.loader svg path {
  fill: #99E2D0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 45%;
  }
}
.header__logo img {
  width: 55%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #DCDCDC;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0px 11px 8px -10px darkgray;
}
.form i {
  display: flex;
  justify-content: center;
}
.form__location {
  width: 10%;
}
.form__search {
  width: 40%;
  background-color: #DCDCDC;
  font-weight: bolder;
  font-size: 15px;
  border: none;
}

.footer {
  width: 96%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: #303030;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 2%;
  padding-left: 2%;
  margin-top: 80px;
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    column-gap: 70px;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    align-items: center;
    column-gap: 70px;
  }
}
.footer__list a {
  color: white;
}
.footer__list__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__list__row i {
  padding-right: 15px;
}

.fa-utensils {
  width: 20px;
}

#page {
  animation: page-arrival 2200ms ease-out backwards;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.intro h2 {
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  margin-bottom: 0;
}
.intro p {
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.operation {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .operation {
    justify-content: center;
    align-items: center;
  }
}
.operation__align {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .operation__align {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
}
.operation__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  column-gap: 20px;
  box-shadow: 7px 7px 10px -1px #DCDCDC, -7px 0 10px 1px #DCDCDC;
  border-radius: 20px;
}
@media screen and (min-width: 1200px) {
  .operation__card {
    width: 30%;
    padding-right: 10px;
  }
}
.operation__card__number {
  min-width: 25px;
  background-color: #9356DC;
  min-height: 25px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operation__card__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 4px;
}
.operation__card__content i {
  width: 21px;
}
.operation__card__content__grey {
  color: gray;
}
.operation__card__content__purple {
  color: #9356DC;
}
.operation__card__content p {
  width: 100%;
  margin: 0;
  padding-left: 25px;
  font-weight: bolder;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .restaurant-list {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.restaurant-list h2 {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .restaurant-list__sizing {
    width: 75%;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant a {
    width: 45%;
  }
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  box-shadow: 7px 7px 10px -1px #DCDCDC, -7px 0 10px 1px #DCDCDC;
  border-radius: 20px;
  padding-bottom: 20px;
}
.restaurant__card__container {
  height: 170px;
  position: relative;
  text-align: center;
}
.restaurant__card__container div {
  position: absolute;
  top: 13px;
  right: 16px;
  background-color: #99E2D0;
  width: 25%;
  height: 25px;
  padding-top: 7px;
  color: #217460;
}
.restaurant__card__container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__card__position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}
.restaurant__card__position__text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.restaurant__card__position__text h3 {
  margin-bottom: 5px;
}
.restaurant__card__position__text p {
  margin: 0;
}
.restaurant__card__position__like {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .restaurant__card__position__like {
    width: 15%;
  }
}
.restaurant__card__position__like svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__card__position__like path {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5px;
  stroke: #000;
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: 0%;
}
.restaurant__card__position__like:hover path {
  animation: heart-fill 500ms linear both;
}
.restaurant__card__position__like:active path {
  animation: heart-fill 500ms linear both;
}

.background-pic {
  height: 250px;
}
.background-pic img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.menu {
  width: 92%;
  padding-right: 4%;
  padding-left: 4%;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
}
.menu__title h1 {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 28px;
}
.menu__title__like {
  width: 20%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__title__like svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__title__like path {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5px;
  stroke: #000;
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: 0%;
}
.menu__title__like:hover path {
  animation: heart-fill 500ms linear both;
  cursor: pointer;
}
.menu__title__like:active path {
  animation: heart-fill 500ms linear both;
}
@media screen and (min-width: 1200px) {
  .menu__name {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .menu__name {
    justify-content: center;
    align-items: center;
  }
}
.menu__name__starter {
  width: 20%;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .menu__name__starter {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}
.menu__name__dish {
  width: 13%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .menu__name__dish {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}
.menu__name__dessert {
  width: 22%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .menu__name__dessert {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}
.menu__name__course {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .menu__name__course {
    width: 100%;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.menu__name__course__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 7px 7px 10px -1px #DCDCDC, -7px 0 10px 1px #DCDCDC;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .menu__name__course__card {
    width: 32%;
  }
}
.menu__name__course__card:hover .seasoning {
  width: 60%;
}
.menu__name__course__card:hover span {
  animation: price-translate 500ms both;
}
.menu__name__course__card:hover .check-box {
  animation: box-translate 500ms both;
}
.menu__name__course__card:hover .check-box i {
  animation: icon-rotate 500ms;
}
.menu__name__course__card h5 {
  margin: 0;
  font-size: 18px;
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__name__course__card__seasoning {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 75%;
}
.menu__name__course__card__seasoning p {
  width: 100%;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 8px;
}
.menu__name__course__card__seasoning__price {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 35%;
  overflow: hidden;
}
.menu__name__course__card__seasoning__price span {
  font-weight: 600;
  margin-right: -70px;
  margin-top: 27px;
  padding-right: 8px;
  font-size: 14px;
}

.check-box {
  width: 75px;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateX(9999px);
}
.check-box i {
  font-size: x-large;
}

.fa-circle-check {
  color: white;
}

.btn-align {
  display: flex;
  justify-content: center;
}

.one {
  animation: menu-arrival 500ms 200ms both;
}

.two {
  animation: menu-arrival 500ms 400ms both;
}

.three {
  animation: menu-arrival 500ms 600ms both;
}

.four {
  animation: menu-arrival 500ms 800ms both;
}

.five {
  animation: menu-arrival 500ms 1000ms both;
}

.six {
  animation: menu-arrival 500ms 1200ms both;
}

.seven {
  animation: menu-arrival 500ms 1400ms both;
}

.eight {
  animation: menu-arrival 500ms 1600ms both;
}

.nine {
  animation: menu-arrival 500ms 1800ms both;
}

.ten {
  animation: menu-arrival 500ms 2000ms both;
}

.eleven {
  animation: menu-arrival 500ms 2200ms both;
}

.twelve {
  animation: menu-arrival 500ms 2400ms both;
}

.thirteen {
  animation: menu-arrival 500ms 2600ms both;
}

/*# sourceMappingURL=style.css.map */
