@keyframes heart-fill {

  0% {
    transform: scaleY(0);
    opacity: 0;
    fill: url(#heart-gradient);
    stroke: transparent;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    fill: url(#heart-gradient);
    stroke: transparent;
  }
}

@keyframes spin {

  0% { 
    transform: rotate(0deg);
  }

  90% { 
    opacity: 1;
  }

  99% { 
    transform: rotate(360deg) translateX(0px);
  }

  100% {
    transform: rotate(360deg) translateX(9999px);
    opacity: 0;
  }
}

@keyframes icon {

  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  30% { 
    opacity: 1;
  }

  70% { 
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(-360deg);
  }
}

@keyframes page-arrival {

  0% { 
    opacity: .1;
  }

  90% { 
    opacity: .1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-arrival {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes box-translate {

  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(1px);
  }
}

@keyframes price-translate {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-75px);
  }
}

@keyframes icon-rotate {

  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}