@keyframes heart-fill {

    from {
      transform: scaleY(0);
      opacity: 0;
      fill: url(#heart-gradient);
      stroke: transparent;
    }

    to {
      transform: scaleY(1);
      opacity: 1;
      fill: url(#heart-gradient);
      stroke: transparent;
    }
  }

@keyframes menu-arrival {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes box-translate {

  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes price-translate {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-75px);
  }
}

@keyframes icon-rotate {

  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}