@mixin card-shadow {
    box-shadow: 7px 7px 10px -1px $form-color, -7px 0 10px 1px $form-color;
}

@mixin h4-font {
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin desktop-only {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-h5 {
    @media screen and (min-width: 1200px) {
        width: 25%;
        display: flex;
        justify-content: center;
    }
}

@mixin tablet-only {
    @media screen and (min-width: 768px) {
        @content;
    }
}