@mixin card-shadow {
    box-shadow: 0 7px 10px -1px $form-color;
}

@mixin h4-font {
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}