$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$form-color: #DCDCDC;

$title-typo: 'Shrikhand', cursive;

$padding: 15px;

$section-margin: 100px;
$padding-top-bottom: 10px;