$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$form-color: #EAEAEA;
$card-color: #F6F6F6;
$card-hover: #F5EDFF;

$btn-color: linear-gradient(to bottom right, $color-secondary, $color-primary);

$title-typo: 'Shrikhand', cursive;

$padding: 15px;
$section-margin: 80px;
$padding-top-bottom: 10px;

$card-radius: 20px;

$arrival-delay: 200ms;