$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$form-color: #DCDCDC;

$title-typo: 'Shrikhand', cursive;

$padding: 15px;

$margin-top-footer: 100px;
$padding-footer-logo: 10px;