.btn {
    width: 50%;
    height: 45px;
    border-radius: 30px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: none;
    color: white;
    cursor: pointer;
}